<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>pagina web de prueba!</h1>

    <div></div>
    <a href="/babbage">babbage</a>

    <div></div>
    <a href="/berners-lee">berners-lee</a>

    <div></div>
    <a href="/clarke">clarke</a>

    <div></div>
    <a href="/hamilton">hamilton</a>

    <div></div>
    <a href="/hopper">hopper</a>

    <div></div>
    <a href="/lovelace">lovelace</a>

    <div></div>
    <a href="/turing">turing</a>
</body>
</html>